venv/
lstm_trainor

datasets/output_100.csv
datasets/output.csv
lstm_model
__pycache__/*
src/__pycache__/*
scraping/data-*
notebook/data-*
*.pt
**/*.pt
*.pickle
*.pkl
LSTMRevisions
.env
scraping/.env
notebook/.env

**/*.ipynb_checkpoints/

history.json
