imbalanced_learn==0.12.0
lingua-language-detector
Markdown==3.5
numpy==1.26.4
pandas==2.2.0
praw==7.7.1
scikit_learn==1.3.1
skorch
torch
transformers
python-dotenv
matplotlib
tqdm
ipywidgets
ipykernel
emoji
joblib
spacy>=3.5.0
calamanCy
